/* ==========================================================================
   Roxboz Theme - Main Styles
   ========================================================================== */

html {
  scroll-behavior: smooth;
}

:root {
  --primary-light: #c2fc5a;
  --primary: #adf338;
  --primary-dark: #88d80a;
  --text: #1a3102;
  --bg: #f8ffe5;
  --bold: 600;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

article {
  background-color: red;
  display: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg);
}

.main-content {
  flex: 1;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding-top: 3rem;
}
