/* ==========================================================================
   Roxboz Theme - Main Styles
   ========================================================================== */

:root {
  --primary: blue;
  --secondary: lightgreen;
}

.page-wrapper {
  min-height: 0;
  padding: 0;
  margin: 0;
}
.main-content {
  height: fit-content;
  min-height: 0 !important;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 0 !important;
  padding-top: 3rem;
}
