{#
/**
 * @file
 * Roxboz theme implementation to display a single page.
 *
 * Available variables:
 * - page: A render array representing the page content.
 */
#}
<div class="page-wrapper">
	<header class="site-header">
		{% if page.header %}
			{{ page.header }}
		{% endif %}
	</header>

	<main class="main-content">
		<div class="container">

			{% if page.content %}
				{{ page.content }}
			{% endif %}

		</div>
	</main>

	<footer class="footer">
		<div>
			{% if page.footer %}
				{{ page.footer }}
			{% endif %}
			<div class="footer__copyright">&copy;
				{{ "now"|date("Y") }}
				ROXBOZ Drupal Testing</div>
		</div>
	</footer>
</div>
