.button--primary,
.button--primary:hover,
.button--primary:active,
.button--primary:focus {
  border: 0;
  border-radius: 0.5rem;
  color: var(--text);
  font-weight: var(--bold);
  font-size: var(--font-size-s);
}

.button--primary {
  background-color: var(--primary);
  transition: outline 0.2s ease, background-color 0.2s ease;
}

.button--primary:hover {
  background-color: var(--primary);
  outline: 5px solid var(--primary-dark);
  outline-offset: -5px;
}

.button--primary:active {
  background-color: var(--primary-dark);
}

.button--primary:focus {
  background-color: var(--primary);
}
