/* ==========================================================================
   Button Component
   ========================================================================== */

.buttons-component {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons-component p {
  margin: 0;
  padding: 0;
  background-color: orange;
}

.buttons-group {
  display: flex;
  gap: 1rem;
}

button {
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
}

button.btn--primary {
  background-color: var(--primary);
  color: white;
}

button.btn--secondary {
  background-color: var(--secondary);
  color: black;
}

button.btn--outline {
  background-color: transparent;
  border: 2px solid currentColor;
}
