.button--primary {
  background-color: var(--primary-light);
  margin: 0;
  border: 0;
  border-radius: 0.5rem;
  color: black;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.button--primary:hover {
  background-color: var(--primary-light);
  box-shadow: inset 0 0 0 5px var(--primary);
  border: 0;
  color: black;
}

.button--primary:active {
  background-color: var(--primary);
  box-shadow: none;
  border: 0;
  color: black;
}
