/* .event-add-form {
  background-color: red;
} */

.form-item.js-form-type-select,
.form-item.form-datetime-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 1rem;
  align-items: baseline;
  margin: 0.5rem 0;
}

.form-item__label {
  grid-column: 1;
}

.form-item__description {
  grid-column: 2;
  margin: 0.2rem 0;
}
